*{
    margin: 0;
    padding: 0;
}

#user{
    width: 45px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-nome{
    width: 150px;
    display: flex;
    align-items: center;
    margin-right: 85px;
}
.user-nome h1 {
    margin-left: 10px;
    font-size: 24px;
    color: white;
}

.divmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    flex-grow: 1;

}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 20px;

}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header{
    height: 100px;
    background-color: #530000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    
}

ul {
    list-style-type: none;
}

.menu {
    /* display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px; */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    height: 50px;
    width: 410px;
    flex-grow: 1;
}

.item-menu {
    position: relative;
}


.item-menu:hover .sub-menu {
    max-height: 100vh;
}

.sub-menu {
    position: absolute;
    left: 0px;
    width: max-content;
    max-height: 0;
    background-color: #000000;
    overflow: hidden;
    border-radius: 5px;
    transition: 1s;
    transition-duration: 820ms;
}

.sub-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.sub-menu a:hover {
    color:#e8b3b3
}

.link-menu {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.link-menu:hover {
    color: #9a9090;
}

.link-submenu {
    font-size: 16px;
    margin: 10px;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    margin-left: 60px;
}


.search input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
}

.search button img {
    width: 20px;
    height: 20px;
}
